* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.centerDiv {
    margin: 0 auto;
}

.h1orange {
    color: #C98A3B;
    text-align: center;
}

img {
    object-fit: cover;
}

.nav-article {
    transition: all 0.2s ease-in-out;
}

.nav-article button {
    background-color: #FF9E67;
    padding: 4px 25px;
}

.nav-article button:hover {
    background-color: #ff9f67e0;
}

.nav-article a {
    font-size: 18px;
    margin: 0 15px;
}

.nav-article>a:hover {
    color: #FF9E67 !important;
}

/* navbar end */
/* home start */
#bg-home {
    background: url("/img/Rectangle\ 51.png")no-repeat center top;
    background-size: 100%;
    height: 100%;
    height: 100vh;
}

.home-about span {
    color: #C98A3B;
}

#about {
    background: url("/img/Rectangle\ 58.png") no-repeat center/cover;
    width: 100%;
    height: 60vh;
}

.home-status,
.home-status1 {
    margin-top: 450px;
}

/* home end */
/* price start */

.price-imgs {
    position: relative;
}

#price {
    background: url("/img/Снимок\ экрана\ \(16\).png")no-repeat center top/contain;
    width: 100%;
    height: 110vh;
}

.price-disc {
    box-shadow: 2px 1px 4px 7px #0000002f;
    padding: 30px 20px;

}

.price-time {
    margin-top: 80px;
    box-shadow: 2px 1px 4px 7px #0000002f;
    padding: 40px 20px 30px 20px;

}

@media only screen and (max-width: 992px) {
    .home-status {
        margin-top: 50px;
    }

    .home-status1 {
        margin-top: 250px;
    }

    #about {
        height: 110vh;
    }

}

@media only screen and (max-width: 754px) {

    .home-status {
        margin-top: 50px;

    }

    .home-status1 {
        margin-top: 200px;
    }

    #about {
        height: 95vh;
    }

    .h1orangep {
        font-size: 20px;
    }
    .price-time{
        width: 100%;
    }
}

@media only screen and (max-width: 502px) {
    #about {
        height: 100vh;
    }

    .home-status {
        margin-top: 150px;
    }
}