
.btn-8 {
    $btn-color: random-color($max:200);
    $btn-color-dark: shade($btn-color, 40%);
    color: tint($btn-color);
    
    &:before,
    &:after {
      content: '';
      @include absolute(0,0,0,0);
      background-color: $btn-color-dark;
    }
    
    &:before { transform: translateY(-100%); }
    &:after { transform: translateY(100%); }
    
    &:hover {
      color: tint($btn-color, 75%);
      
      &:before { transform: translateY(-50%); }
      &:after { transform: translateY(50%); }
    }
  }