* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* basic style */
.discription {
    background: url("/img/Rectangle\ 58.png") no-repeat center top/cover;
    width: 100%;
    height: max-content;
    padding: 50px 100px;
}

.centerDiv {
    margin: 0 auto;
}

.h1orange {
    color: #C98A3B;
    text-align: center;
}

img {
    object-fit: cover;
}

.container-hand {
    padding: 0 50px;
}

.centerDiv2 div {
    padding-top: 80px;
}

.h1orange1 {
    color: #FF9E67;
    text-decoration: none;
}

.text-carus {
    background-color: #C98A3B !important;
}
.ch-icon{
    color: white !important;
}
/* basic style */

.nav-article {
    transition: all 0.2s ease-in-out;
}

.nav-article button {
    background-color: #FF9E67;
    padding: 4px 25px;
}

.nav-article button:hover {
    background-color: #ff9f67e0;
}

.nav-article a {
    font-size: 18px;
    margin: 0 15px;
}

.nav-article>a:hover {
    color: #FF9E67 !important;
}

/* navbar end */
/* home start */
#bg-home {
    background: url("/img/Rectangle\ 51.png")no-repeat center top;
    background-size: 100%;
    height: 100%;
    height: max-content;
}

.home-about span {
    color: #C98A3B;
}

#about {
    background: url("/img/Rectangle\ 58.png") no-repeat center/cover;
    width: 100%;
    height:max-content;
    padding-bottom: 50px;
}

.home-status,
.home-status1 {
    margin-top: 450px;
}

/* home end */
/* price start */
#price {
    background: url("/img/Reactangle17.png") no-repeat center top/contain;
    width: 100%;
    height: 100vh;
}

.price-disc {
    background-color: white;
    box-shadow: 2px 1px 4px 7px #0000002f;
    padding: 30px 20px;
}

.price-disc h4 {
    line-height: 50px;
}

.price-time {
    width: 50%;
    background-color: white;
    margin-top: 80px;
    box-shadow: 2px 1px 4px 7px #0000002f;
    padding: 40px 20px 30px 20px;
}

/* price end */
/* buy start */
.buy-card {
    box-shadow: 2px 1px 4px 7px #0000002f;
    padding: 0 40px;
}

.get-buyForm input {
    padding: 12px 20px;
    outline: none;
    border: none;
    box-shadow: 2px 1px 4px 7px #0000002f;
    border-radius: 10px;
    color: #654115;
    font-weight: 500;
}

.get-buyForm button {
    padding: 12px 0;
    border: none;
    background-color: #C98A3B;
    color: white;
    box-shadow: 2px 1px 4px 7px #0000002f;
    letter-spacing: 2px;
}

/* get-buy end */
/* about2 start */
.about-title {
    color: #FF9E67;
}

.extra2-card img:hover {
    transform: scale(1.1);
    transition: .1s linear;
}

.about-img-res {
    width: 80%;
}

#about2 {
    background: url("/img/Rectangle\ 58.png") no-repeat center bottom/cover;
    height: max-content;
    padding-bottom: 30px;
}

#about2 h3 {
    line-height: 40px;
    font-size: 30px;
}
.about2-card {
    width:8vh !important;
    height: 8vh !important;
    background-color: #FF9E67;
    margin-right: 25px;
}

.extra2-card span {
    color: #EB6B68;
}

#facts-about {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/Rectangle\ 76.png") no-repeat center top/cover;
    height: 75vh;
    margin-top: 80px;
    color: white;
}

#facts-about2 {
    background: url("/img/Rectangle\ 58.png") no-repeat center top/cover;
    padding-bottom: 20px;
}

.message {
    border: 2px solid black;
    margin-left: 30px;
    padding: 13px 15px;

}

.message1 {
    border: 2px solid black;
    margin-right: 30px;
    padding: 13px 15px;
}

.messagebig {
    border: 2px solid black;
    padding: 50px 40px;
    margin-right: 30px;

}

.carder {
    transition: all 1s linear;
    background-color: white;
}

/* about2 end */
/* media start*/
.get-buys {
    margin-top: 50px;
    background: url("/img/Rectangle\ 17.png")no-repeat center top/cover;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.media-icons a {
    color: #C3873C;
    font-size: 30px;
}

.media-icons a:not(:first-child) {
    padding-left: 15px;
}

.time-res {
    padding-top: 50px;
}

.buydiv,
.buydiv1,
.buydiv2 {
    margin: auto;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

/* js css */
.terme {
    background-color: #e6e5e5;
    transition: all 0.2s ease-in-out;
}

.terme2 {
    background-color: #C3873C;
    transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 1200px) {
    .time-res {
        padding-top: 150px;
    }
    #get-buy {
        margin-top: 130px;
    }

    .centerDiv2 h3 {
        font-size: 20px !important;
    }
    .abouttest h4 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 992px) {
    .home-status {
        margin-top: 50px;
    }

    .home-status1 {
        margin-top: 250px;
    }
    .price-time {
        width: 90%;
    }

    .buy-card {
        margin-top: 100px;
    }

    #get-buy center {
        margin-top: 80px;
    }

    .get-buyForm button {
        margin-top: 30px;
    }

    .get-buyForm input {
        margin-top: 20px;
    }

    .about-title-res {
        padding-top: 200px;
    }

    .about-txt-res h2 {
        font-size: 25px;
    }

    .price-disc h4 {
        font-size: 15px;
        line-height: 30px;
    }

    .about-title3 {
        font-size: 25px !important;
        line-height: 35px !important;
    }

    .centerDiv2 h3 {
        font-size: 17px !important;
    }

    .title-ress {
        font-size: 30px;
    }

    .abouttest h4 {
        font-size: 14px;
    }

    .about2-card {
        width: 6vh;
        height: 6vh;

    }

    .about2-card h1 {
        font-size: 20px;
    }

}

@media only screen and (max-width: 768px) {

    .home-status {
        margin-top: 50px;
    }

    .home-status1 {
        margin-top: 200px;
    }
    .h1orangep {
        font-size: 20px;
    }

    .price-time {
        width: 100%;
    }

    #get-buy center {
        margin-top: 60px;
    }

    .about-title-res {
        padding-top: 10px;
    }

    .about-img-res {
        width: 70%;
    }

    .about-txt-res h2 {
        font-size: 15px;
    }

    .price-disc h4 {
        font-size: 12px;
        line-height: 20px;
    }

    .price-disc {
        padding: 20px 15px;
    }

    .time-res {
        padding-top: 100px;
    }

    #get-buy {
        margin-top: -50px;
    }

    .about-title3 {
        font-size: 20px !important;
        line-height: 30px !important;
    }

    .centerDiv2 h3 {
        font-size: 20px !important;
    }

    .container-hand div {
        line-height: 15px;
    }

    .centerDiv2 div {
        padding-top: 50px;
    }

    #facts-about {
        height: 100vh;
    }

    .message h3,
    .message1 h3,
    .messagebig h3 {
        font-size: 20px;
    }

    .carousel1-title {
        font-size: 18px;
    }

    .title-ress {
        font-size: 25px;
    }

    .abouttest h4 {
        font-size: 11px;
    }

    .about2-card { 
        border-radius: 10px !important;

    }

    .about2-card h1 {
        font-size: 15px;
    }

}

@media only screen and (max-width: 575px) {
    .home-status1 {
        margin-top: 130px !important;
    }

    .home-status img {
        width: 50% !important;
    }

    .home-status {
        margin-top: 50px !important;
    }

    .home-about {
        font-size: 18px;
    }
    .home-status {
        margin-top: 150px;
    }

    #get-buy center {
        margin-top: 80px;
    }

    .about-txt-res h2 {
        font-size: 10px;
    }

    .about-img-res {
        width: 60%;
    }

    .price-disc h4 {
        font-size: 10px;
        line-height: 13px;
    }

    .price-disc {
        padding: 15px 10px;
    }

    #price .h1orangep {
        font-size: 13px;
        padding-top: 20px !important;
        padding-bottom: -40px !important;
    }

    .time-res {
        padding-top: 60px;
    }

    #get-buy {
        margin-top: -200px;
    }

    .about-title3 {
        font-size: 15px !important;
        line-height: 25px !important;
    }

    .centerDiv2 div {
        padding-top: 40px;
    }

    .title-ress {
        font-size: 18px;
    }

    #facts-about {
        height: 120vh !important;
    }

    .message h3,
    .message1 h3,
    .messagebig h3 {
        font-size: 12px;
    }

    .messagebig {
        padding: 15px 10px;
    }
}

@media only screen and (max-height:750px) {
    .fact-title h3 {
        font-size: 13px !important;
    }

}

@media only screen and (max-height:630px) {
    .about-title-res {
        font-size: 15px !important;
        padding-top: 50px !important;
    }

    .time-res h1 {
        font-size: 20px !important;
    }

    .price-time {
        margin-top: 50px;
        padding: 20px 10px 10px 10px;
    }

    .price-time h2,
    p {
        font-size: 15px;
    }


}

@media only screen and (max-height:530px) {
    .getB-text {
        margin-top: 200px !important;
    }
    #price {
        height: fit-content;
    }
}